#name: "API-Test-RESTful"
#
#on:
#  push:
#    branches:
#      - main
#  pull_request:
#    branches:
#      - main
#env:
#  VERSION: 0.6.0-SNAPSHOT
#
#concurrency:
#  group: ${{ github.workflow }}-${{ github.ref }}
#  cancel-in-progress: true
#
#jobs:
#  Annotation-Test:
#    strategy:
#      fail-fast: false
#      #max-parallel: 20
#      matrix:
#        java: [ 8 ]
#        python-version: [ "3.7" ]
#        os: [ ubuntu-latest, macos-latest ]
#    runs-on: ${{ matrix.os }}
#    steps:
#      - uses: actions/checkout@v2
#      - name: Environmet Dependence
#        uses: ./.github/actions/dependence
#        with:
#          python-version: ${{ matrix.python-version }}
#          java: ${{ matrix.java }}
#
#      - name: Run ZooKeeper
#        uses: ./.github/actions/zookeeperRunner
#
#      - name: Run IoTDB
#        uses: ./.github/actions/iotdbRunner
#        with:
#          if-CapExp: "false"
#          version: iotdb11
#
#      - name: Install with Maven
#        run: mvn clean package -DskipTests
#
#      - name: Start IginX
#        uses: ./.github/actions/iginxRunner
#        with:
#          version: ${VERSION}
#
#      - name: A Lame Integration Test with Maven for IoTDB
#        run: mvn test -q -Dtest=RestAnnotationIT -DfailIfNoTests=false
#      - uses: codecov/codecov-action@v1
#        with:
#          file: ./**/target/site/jacoco/jacoco.xml
#          name: codecov
#
#  REST-Test:
#    strategy:
#      fail-fast: false
#      #max-parallel: 20
#      matrix:
#        java: [ 8 ]
#        python-version: [ "3.7" ]
#        os: [ ubuntu-latest, macos-latest ]
#    runs-on: ${{ matrix.os }}
#    steps:
#      - uses: actions/checkout@v2
#      - name: Environmet Dependence
#        uses: ./.github/actions/dependence
#        with:
#          python-version: ${{ matrix.python-version }}
#          java: ${{ matrix.java }}
#
#      - name: Run ZooKeeper
#        uses: ./.github/actions/zookeeperRunner
#
#      - name: Run IoTDB
#        uses: ./.github/actions/iotdbRunner
#        with:
#          if-CapExp: "false"
#          version: iotdb11
#
#      - name: Install with Maven
#        run: mvn clean package -DskipTests
#
#      - name: Start IginX
#        uses: ./.github/actions/iginxRunner
#        with:
#          version: ${VERSION}
#
#      - name: A Lame Integration Test with Maven for IoTDB
#        run: mvn test -q -Dtest=RestIT -DfailIfNoTests=false
#      - uses: codecov/codecov-action@v1
#        with:
#          file: ./**/target/site/jacoco/jacoco.xml
#          name: codecov
