name: System Test

on:
  push:
    branches:
      - main
      - 0.5.0
  pull_request:
    branches:
      - main
      - 0.5.0

jobs:
  IoTDB11-Test:
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        java: [ 8 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os}}
    env:
      VERSION: 0.5.0-SNAPSHOT
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2.1.5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run ZooKeeper
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/zk.sh"
          "${GITHUB_WORKSPACE}/.github/zk.sh"
      - name: Run IoTDB11
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/iotdb11.sh"
          "${GITHUB_WORKSPACE}/.github/iotdb11.sh"
      - name: Install with Maven
        run: mvn clean package -DskipTests
      - name: Start IginX
        run: |
          chmod +x "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh"
          nohup "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh" &
      - name: A Lame Integration Test with Maven for IoTDB
        run: mvn test -q -Dtest=IoTDB11SessionIT -DfailIfNoTests=false
      - uses: codecov/codecov-action@v1
        with:
          file: ./**/target/site/jacoco/jacoco.xml
          name: codecov

  IoTDB12-Test:
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        java: [ 8 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os}}
    env:
      VERSION: 0.5.0-SNAPSHOT
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2.1.5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run ZooKeeper
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/zk.sh"
          "${GITHUB_WORKSPACE}/.github/zk.sh"
      - name: Run IoTDB12 and change default config
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/iotdb12.sh"
          "${GITHUB_WORKSPACE}/.github/iotdb12.sh"
      - name: Install with Maven
        run: mvn clean package -DskipTests
      - name: Start IginX
        run: |
          chmod +x "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh"
          nohup "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh" &
      - name: A Lame Integration Test with Maven for IoTDB
        run: mvn test -q -Dtest=IoTDB12SessionIT -DfailIfNoTests=false
      - uses: codecov/codecov-action@v1
        with:
          file: ./**/target/site/jacoco/jacoco.xml
          name: codecov

  IoTDB11-Capacity-Expansion-Test:
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        java: [ 8 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os}}
    env:
      VERSION: 0.5.0-SNAPSHOT
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2.1.5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run ZooKeeper
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/zk.sh"
          "${GITHUB_WORKSPACE}/.github/zk.sh"
      - name: Run IoTDB11, change default config
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/iotdb11_history_data.sh"
          "${GITHUB_WORKSPACE}/.github/iotdb11_history_data.sh"
      - name: Install with Maven
        run: mvn clean package -DskipTests
      - name: Write history Data
        run: |
          mvn test -q -Dtest=IoTDBHistoryDataGeneratorTest -DfailIfNoTests=false
          sleep 10
      - name: Start IginX
        run: |
          chmod +x "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh"
          nohup "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh" &
      - name: A Lame Integration Test with Maven for IoTDB
        run: mvn test -q -Dtest=IoTDB11HistoryDataCapacityExpansionIT -DfailIfNoTests=false
      - uses: codecov/codecov-action@v1
        with:
          file: ./**/target/site/jacoco/jacoco.xml
          name: codecov

  IoTDB12-Capacity-Expansion-Test:
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        java: [ 8 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os}}
    env:
      VERSION: 0.5.0-SNAPSHOT
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2.1.5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run ZooKeeper
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/zk.sh"
          "${GITHUB_WORKSPACE}/.github/zk.sh"
      - name: Run IoTDB12, change default config
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/iotdb12_history_data.sh"
          "${GITHUB_WORKSPACE}/.github/iotdb12_history_data.sh"
          mv test/pom.xml test/pom.xml.backup
          mv test/pom.xml.iotdb12 test/pom.xml
      - name: Install with Maven
        run: mvn clean package -DskipTests
      - name: Write history Data
        run: |
          mvn test -q -Dtest=IoTDBHistoryDataGeneratorTest -DfailIfNoTests=false
          sleep 10
      - name: Install with Maven Again
        run: |
          mv test/pom.xml test/pom.xml.iotdb12
          mv test/pom.xml.backup test/pom.xml
          mvn clean package -DskipTests
      - name: Start IginX
        run: |
          chmod +x "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh"
          nohup "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh" &
      - name: A Lame Integration Test with Maven for IoTDB
        run: mvn test -q -Dtest=IoTDB12HistoryDataCapacityExpansionIT -DfailIfNoTests=false
      - uses: codecov/codecov-action@v1
        with:
          file: ./**/target/site/jacoco/jacoco.xml
          name: codecov

  InfluxDB-Capacity-Expansion-Test:
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        java: [ 8 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os}}
    env:
      VERSION: 0.5.0-SNAPSHOT
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2.1.5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run ZooKeeper
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/zk.sh"
          "${GITHUB_WORKSPACE}/.github/zk.sh"
      - name: Run IoTDB12, change default config
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/influxdb_history_data.sh"
          "${GITHUB_WORKSPACE}/.github/influxdb_history_data.sh"
      - name: Install with Maven
        run: mvn clean package -DskipTests
      - name: Write history Data
        run: |
          mvn test -q -Dtest=InfluxDBHistoryDataGeneratorTest -DfailIfNoTests=false
          sleep 10
      - name: Start IginX
        run: |
          chmod +x "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh"
          nohup "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh" &
      - uses: codecov/codecov-action@v1
        with:
          file: ./**/target/site/jacoco/jacoco.xml
          name: codecov


  IoTDB11-SQL-Test:
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        java: [ 8 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os}}
    env:
      VERSION: 0.5.0-SNAPSHOT
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2.1.5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run ZooKeeper
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/zk.sh"
          "${GITHUB_WORKSPACE}/.github/zk.sh"
      - name: Run IoTDB
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/iotdb11.sh"
          "${GITHUB_WORKSPACE}/.github/iotdb11.sh"
      - name: Install with Maven
        run: mvn clean package -DskipTests
      - name: Start IginX
        run: |
          chmod +x "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh"
          nohup "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh" &
      - name: A Lame Integration Test with Maven for SQL
        run: mvn test -q -Dtest=IoTDBSQLSessionIT -DfailIfNoTests=false
      - uses: codecov/codecov-action@v1
        with:
          file: ./**/target/site/jacoco/jacoco.xml
          name: codecov

  IoTDB12-SQL-Test:
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        java: [ 8 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os}}
    env:
      VERSION: 0.5.0-SNAPSHOT
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2.1.5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run ZooKeeper
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/zk.sh"
          "${GITHUB_WORKSPACE}/.github/zk.sh"
      - name: Run IoTDB
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/iotdb12.sh"
          "${GITHUB_WORKSPACE}/.github/iotdb12.sh"
      - name: Install with Maven
        run: mvn clean package -DskipTests
      - name: Start IginX
        run: |
          chmod +x "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh"
          nohup "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh" &
      - name: A Lame Integration Test with Maven for SQL
        run: mvn test -q -Dtest=IoTDBSQLSessionIT -DfailIfNoTests=false
      - uses: codecov/codecov-action@v1
        with:
          file: ./**/target/site/jacoco/jacoco.xml
          name: codecov

  InfluxDB-SQL-Test:
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        java: [ 8 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os}}
    env:
      VERSION: 0.5.0-SNAPSHOT
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2.1.5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run ZooKeeper
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/zk.sh"
          "${GITHUB_WORKSPACE}/.github/zk.sh"
      - name: Run IoTDB
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/influxdb.sh"
          "${GITHUB_WORKSPACE}/.github/influxdb.sh"
      - name: Install with Maven
        run: mvn clean package -DskipTests
      - name: Start IginX
        run: |
          chmod +x "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh"
          nohup "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh" &
      - name: A Lame Integration Test with Maven for SQL
        run: mvn test -q -Dtest=InfluxDBSQLSessionIT -DfailIfNoTests=false
      - uses: codecov/codecov-action@v1
        with:
          file: ./**/target/site/jacoco/jacoco.xml
          name: codecov